{border:double 10px #0006ff;}
#意外と知らない！？城西クイズ {
  background: -moz-linear-gradient(top, #FFC778, #FFF);
  background: -webkit-linear-gradient(top, #FFC778, #FFF);
  background: linear-gradient(to bottom, #FFC778, #FFF);
